*.sdf
*.suo
*.user
packages
[Oo]bj
[Bb]in
*/**/bin
*/**/obj
[Dd]ebug
[Rr]elease
[Tt]humbs.db
.DS_Store*
*.[Pp]ublish.xml
.idea
_ReSharper.*
*.orig
TestResults
!packages/repositories.config
!**/libs/**/bin
!Web/js/libs/**
.vs
*.DotSettings
