@{
	ViewBag.Title = "Home";
}

<article>
	<h2>@ViewBag.Title</h2>
	<p>
		This is a sample showing both server-side and client-side error logging, and harvesting the errors in a consolidated, online log
	</p>
	<p>
		Put a break point inside LoggingService.Log() then cause some errors.  
	</p>
</article>
